@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

.glow {
  box-shadow: 0 0 60px rgba(56, 189, 248, .45);
}

.card {
  background: #1e293b;
  border-radius: 16px;
  padding: 24px;
  transition: .3s;
}

.card:hover {
  transform: translateY(-8px);
}

.section {
  padding: 100px 24px;
  max-width: 1200px;
  margin: auto;
}